/*
  Global Styles
  -------------
*/

* {
  box-sizing: border-box;
}

body{
  font-family: 'Droid Serif', serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 2em;
  margin: 0;
}
h2{
  margin: 20px 0;
}

h2, h3{
  text-align: center;
}


a{
  color: #4b4a4a;
  text-decoration: none;
}
a:hover{
  color: #3c3a3a;
  text-decoration: underline;;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
padding: 20px 20px;
}

/*
  Section styles
*/

#jumbotron{
  height: 600px;
  background-image: url(img/hedgehog.jpg);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

#jumbotron .container{
  padding-top: 60px;
}

header ul{
  list-style-type: none;
  padding: 0;
}

.social img{
  width: 50px;
  height: 50px;;
  margin-right: 5px;
}

/*
  Skills section
  --------------
*/

#skills{
  background-image: url(img/code.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eceaea;
  text-align: center;
}

#skills .skill-list{
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

#skills .skill-list li{
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}

#skills .skill-list li img{
  /*width: 100%;
  height: 100%;*/
  vertical-align: middle;

}
.front img{
  width: 100%;
  height: 100%;
/*  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
*/}

.back p{
  padding: 10px;
  margin: 0;
}


.skill-container{
  perspective: 1000px;

}
.skill-container:hover .flipper, .skill-container.hover .flipper{
  transform: rotateY(180deg);
  transform-origin: 125px 0px;
}

.skill-container, .front, .back{
  width: 50%;
  height: 50%;

}

.flipper{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 250px;
}

.front, .back{
  width: 250px;
  height: 250px;
  backface-visibility: hidden;
  position: absolute;
  top :0;
  left: 0;
}
.front{
  z-index: 2;
  transform: rotateY(0deg);
}

.back{
  padding-top: 60px;
  transform: rotateY(180deg);

  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  /*background-color: red;*/

  /*background-color: rgba(255,255,255,0.75);*/
}

/*
  Projects section
  ----------------
*/

#projects{
  /*background-color: #D2CBB9;*/

}
#projects p{
  /*color: #eceaea;*/
  text-align: center;
}
#projects ul{
  list-style-type: none;
  margin: 0 0 60px 0;
  padding: 0;
  text-align: center;
}
#projects ul li{
  display:inline-block;
  margin: 0 25px;
  text-align: center;
}


.view {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
    float: left;
    /*border: 10px solid #000;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}
.view .mask, .view .content {
    width: 350px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h3 {
    text-transform: uppercase;
    color: #eceaea;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    position: relative;
    color: #000;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #eceaea;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-third img {
    transition: all 0.2s ease-in;
}
.view-third .mask {
  background-color: rgba(210,203,185, 0.9);
  opacity: 0;
  transform: translate(460px, -100px) rotate(180deg);
  transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out;
}
.view-third p {
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.view-third a.info {
  transform: translateY(-200px);
  transition: all 0.2s ease-in-out;
}

.view-third:hover .mask {
  opacity:1;
  transition-delay: 0s;
  transform: translate(0px, 0px);
}
.view-third:hover h2 {
  transform: translateY(0px);
  transition-delay: 0.5s;
}
.view-third:hover p {
    transform: translateX(0px) rotate(0deg);
  transition-delay: 0.4s;
}
.view-third:hover a.info {
  transform: translateY(-20px);
  transition-delay: 0.3s;
}


#jumbotron .container .social{
  position: absolute;
  transition: all .6s ease;
  top: 60px;
  right: 60px;
  z-index: 3;
}

#blog{
  text-align: center;
  background-image: url(img/blog.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#blog a, #blog h2{
  color: #eceaea;
}

.underline{
  width: 50px;
  padding-top: 20px;
  margin: 0 auto;
  border-bottom: 1px solid #5c5c5c;
}

.info p{
  line-height: 1.5em;
  margin: 0;
  color: black;
  column-count: 2;
  column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
}

hr{
  width: 12%;

}
footer{
  background-color: #D2CBB9;

}

footer p{
  margin: 0;
  padding: 20px 20px 0 20px;
  font-size: .8em;
}

@media(max-width:640px){
  #skills .skill-list li{
    width: 49%;
  }
}

@media(max-width:480px){
  .jumbotron{
    height: 400px;
  }
  .jumbotron .container{
    padding-top: 5px;
  }
  .container{
    padding-top: 20px;
  }
  .social{
    position: relative;
    left: 20px;
  }
  .social img{
    width: 35px;
    height: 35px;
  }
  .info p{
    column-count: 1;
    -moz-column-count: 1;
  }
  #skills .skill-list li{
    display: block;
    width: 100%;
}
.jumbotron h3{
  margin-top: 5%;
}
