* {
  box-sizing: border-box;
}
body{
  font-family: 'Droid Serif', serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 2em;
}



.jumbotron{
  height: 600px;
  background-image: url(img/hedgehog.jpg);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}




.container{
  max-width: 1140px;
  /*padding: 20px 20px 20px 20px;*/
  margin: 0 auto;
}
.jumbotron .container{
  position: relative;
  padding-top: 60px;
}
.social img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
ul.links{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.links li{
  font-size: 1.4em;
  display:inline-block;
  padding: 0 30px;
}
ul.links .line{
  border-bottom: 2px solid black;
  display: block;
  width: 0;
  margin-top: 5px;
  position: relative;
  padding: 0;
  transition: all .6s ease;
}
h1{ margin: 0;
}
header{
  /*position: fixed;*/
}

header ul{
  list-style-type: none;
  padding: 0;
}

.links{
  float: right;
vertical-align: baseline;
}
a{
  color: #4b4a4a;
  text-decoration: none;
}
a:hover{
  color: #3c3a3a;
  text-decoration: underline;
}
#skills{

}
#skills ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#skills ul li{
  display: inline-block;
  padding:40px;
  margin-bottom: 20px;
}
#skills ul li img{
  vertical-align: middle;

  /*width: 15%;
  height: 15%;*/
}
#projects{
  background-color: #D2CBB9;
  padding: 50px 0;
}
#projects p{
  /*color: #eceaea;*/
  text-align: center;
}
#projects ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#projects ul li{
  display:inline-block;
  margin: 0 25px;
  text-align: center;
}

.front img{
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.back p{
  padding: 10px;
}

.project-container{
  perspective: 1000px;
  margin-bottom: 50px;
}
.project-container:hover .flipper, .project-container.hover .flipper{
  transform: rotateY(180deg);
}

.project-container, .front, .back{
  width: 350px;
  height: 250px;

}

.flipper{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back{
  backface-visibility: hidden;
  position: absolute;
  top :0;
  left: 0;
}
.front{
  z-index: 2;
  transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
  background-color: rgba(255,255,255,0.75);
}


.jumbotron .container .social{
  position: absolute;
  transition: all .6s ease;
  top: 60px;
  right: 0px;
  z-index: 3;
}
.jumbotron .container .social h2{
  opacity: 0;
}
.info p{
  line-height: 1.5em;
  margin: 0;
  color: black;
  column-count: 2;
  column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
}
h2{
  text-align: center;
  margin: 50px 0;
}
hr{
  width: 12%;

}
footer{
  background-color: #D2CBB9;

}

footer p{
  margin: 0;
  padding: 20px;
}

@media(max-width:480px){
  .jumbotron{
    height: 400px;
  }
  .jumbotron .container{
    padding-top: 5px;
  }
  .container{
    padding-top: 20px;
  }
  .social{
    position: relative;
    left: 20px;
  }
  .social img{
    width: 35px;
    height: 35px;
  }
  .info p{
    column-count: 1;
  }
  #skills ul li{
    display: block;
  }
  #skills ul li img{
    width: 50%;
  }
}
.jumbotron h3{
  margin-top: 5%;
}
