* {
  box-sizing: border-box;
}
body{
  font-family: 'EB Garamond', garamond, serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 2em;
}



.jumbotron{
  height: 700px;
  background-image: url(img/hedgehog.jpg);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}




.container{
  max-width: 1024px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
}
.jumbotron .container{
  position: relative;
  padding-top: 60px;
}
.social img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
ul.links{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.links li{
  font-size: 1.4em;
  display:inline-block;
  padding: 0 30px;
}
ul.links .line{
  border-bottom: 2px solid black;
  display: block;
  width: 0;
  margin-top: 5px;
  position: relative;
  padding: 0;
  transition: all .6s ease;
}
h1{ margin: 0;
}
header{
  /*position: fixed;*/
}

.links{
  float: right;
vertical-align: baseline;
}
a{
  color: #4b4a4a;
  text-decoration: none;
}
a:hover{
  color: #3c3a3a;
  text-decoration: underline;
}

#skills ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#skills ul li{
  display: inline-block;
  padding:40px;
  margin-bottom: 20px;
}
#skills ul li img{
  vertical-align: middle;

  /*width: 15%;
  height: 15%;*/
}
#projects ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#projects ul li{
  display:inline-block;
  margin: 0 25px;
  text-align: center;
}

#projects img{
  width: 150px;
  height: 150px;
}
.project{
  width: 150px;
  height: 250px;
}
.jumbotron .container .social{
  position: absolute;
  top: 60px;
  right: 20px;
}
.info p{
  line-height: 1.5em;
  margin: 0;
  color: black;
  column-count: 2;
  column-gap: 40px;
}
h2{
  text-align: center;
  margin-top: 0;
}
footer{
  background-color: #c9c8c8;

}

footer p{
  margin: 0;
  padding: 20px;
}
#projects{
  /*background-color: rgb(109, 157, 103);*/
  /*color: #eceaea;*/
}
#projects p{
  /*color: #eceaea;*/
  text-align: center;
}
@media(max-width:480px){
  .jumbotron{
    height: 400px;
  }
  .jumbotron .container{
    padding-top: 5px;
  }
  .container{
    padding-top: 20px;
  }
  .social{
    position: relative;
    left: 20px;
  }
  .social img{
    width: 35px;
    height: 35px;
  }
  .info p{
    column-count: 1;
  }
  #skills ul li{
    display: block;
  }
  #skills ul li img{
    width: 50%;
  }
}
.jumbotron h3{
  margin-top: 5%;
}
